%h1.header.center.orange-text Arène des combats

.row.center
  %h5.header.col.s12.light Seuls les plus intrépides oseront entrer dans l'Arène.

- if @heroes.present?
  .row.center
    %h6 Les 15 derniers héros
    - @heroes.each do |hero|
      %p= link_to hero.name, hero_path(hero)
